body {
    margin: auto;
    font-family: "Lato", sans-serif;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  background-color: #ff9900;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;  
  color: rgb(34, 4, 163);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: red;
  color: rgba(238, 255, 0, 0.945);
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.oszlop {
    display: none;
}



@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .sor {
        display: none;
    }
    .oszlop {
        display: table;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
